.toy-card{
    width: 240px;
}

.card-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.card-content{
    margin-top: 10px;
}

.card-loading{
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.loading-pic{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}